<?xml version="1.0"?>
<config>
    <modules>
        <Magenmagic_Platform>
            <version>0.1.0</version>
        </Magenmagic_Platform>
    </modules>
    <admin>
        <routers>
			<platform>
				<use>admin</use>
				<args>
					<module>Magenmagic_Platform</module>
					<frontName>magenmagic_platform</frontName>
				</args>
			</platform>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magenmagicinfo>
                                            <title>Magenmagicinfo</title>
                                        </magenmagicinfo>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<platform>
					<file>magenmagic_platform.xml</file>
				</platform>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <blocks>
            <platform>
                <class>Magenmagic_Platform_Block</class>
            </platform>
        </blocks>
        <helpers>
            <platform>
                <class>Magenmagic_Platform_Helper</class>
            </platform>
        </helpers>
    </global>
</config>