<!--@subject Standard-Schmuck.de - Neues Passwort @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:12px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                <td>
                  <table  width="100%">
                    <tr>
                      <td valign="top" width="60%"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                      <td valign="top"  width="40%">
                        <p><strong>E-Mail:</strong> 
                          <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                        <br />
                          <strong>Telefon:</strong> {{config path='general/store_information/phone'}}
                        </p>
                     {{customVar code=office_hours}}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <h4 style="margin-top: 30px;">
              					 Sehr geehrte(r) {{var customer.name}},
                        </h4>
                        <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; margin: 0 20px"><strong>Ihr neues Passwort lautet:</strong> {{htmlescape var=$customer.password}}</p>
                        <p>
                          Aus Sicherheitsgründen empfehlen wir Ihnen das Passwort nach dem Login in Ihrem 
                          <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Benutzerkonto</a> zu ändern.
                        </p>
                        <p>
                         Wählen Sie dazu den Bereich „<a href="{{store url="customer/account/edit/"}}" >Mein Konto > Benutzer Informationen</a>“ und anschließend "<strong>Passwort&nbsp;ändern</strong>".
                        </p>
                        <p>
                         Bitte beachten Sie bei der Eingabe Ihres Passwortes die Groß- und Kleinschreibung, sowie dass sich der Buchstabe O und die Zahl 0 (Null) sehr ähnlich sehen.<br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Vielen Dank, Ihr <strong>{{var store.getFrontendName()}}</strong> Team</p></center></td>
                </tr>
                <tr>
                <td>
                  {{customVar code=signature}}
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>
