<config>
	<sections>
		<design translate="label" module="core">
			<groups>
				<head translate="label">
					<fields>
                        <product_title_prefix translate="label">
                            <label>Product Title Prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_title_prefix>
                        <product_title_suffix translate="label">
                            <label>Product Title Suffix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>18</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </product_title_suffix>
					</fields>
				</head>
			</groups>
		</design>
	</sections>
</config>
