/*
 * Title: jQuery Etalage plugin CSS
 * Author: Berend de Jong, Frique
 * Author URI: http://www.frique.me/
 * Version: 1.3.2 (20120904.1)
 *
 * ------------------------------------ STYLE ------------------------------------
 * Edit this section to style your thumbnails, zoom area, magnifier etc.
 * If the id of your Etalage instance is different, do a find/replace on #etalage.
 * -------------------------------------------------------------------------------
 */

.Zoomer{
	display: none;
	margin-top: 50px;
	margin:0 !important;
//	overflow:hidden;
}

.etalage_thumb { }
.etalage_small_thumbs {  height:228px !important}
.etalage_zoom_area {background-color:#fff !important;  border: 1px solid #9A9A9A !important; height: 290px; width:483px !important; z-index:15000 !important; overflow:hidden;}
.etalage_zoom_area div.zmPict { margin:0 auto}

.Zoomer .etalage_thumb{
	background: white url(../images/loading.gif) center no-repeat;
/*	width: 233px;
height: 278px; 
background: white;
border: 6px solid #D9E4EC; */
}
.adControl { display:none}
 .zoomWrapper {width: 233px;
height: 278px; 
background: white;
border: 6px solid #D9E4EC;}
.etalage_small_thumbs  ul { margin:0 !important}
 
.Zoomer .etalage_small_thumbs li{
	margin-bottom:4px !important;
	cursor: pointer;
	border: 1px solid #9A9A9A;
}

.Zoomer .etalage_small_thumbs li img{
	cursor: pointer;
	border: 2px solid #D9E4EC;
	width:67px !important; 
	height:auto !important; 
}


.Zoomer ul li.etalage_smallthumb_active{
	cursor: default;
}
.Zoomer ul li.etalage_smallthumb_active img {
border: 2px solid #CAE3F3;
}

.Zoomer .etalage_zoom_area,
.etalage_zoom_area{
	background: url(../images/loading.gif) center no-repeat;
}

.Zoomer .etalage_magnifier{
	background: white;
	-webkit-box-shadow: 0 0 5px #f00;
	-moz-box-shadow: 0 0 5px #0f0;
	border: 1px #3FA9E8 dashed;
}

/*
 * ------------------------------------ FUNCTIONALITY --------------------------------------
 * The following CSS serves to make Etalage function properly. Don't edit or edit carefully.
 * -----------------------------------------------------------------------------------------
 */

.etalage, .etalage_thumb, .etalage_thumb_image, .etalage_source_image, .etalage_zoom_preview, .etalage_icon, .etalage_hint{ display:none }
.etalage, .etalage ul, .etalage li, .etalage img, .etalage_hint, .etalage_icon, .etalage_description{ margin:0; padding:0; border:0; list-style:none }
.etalage, .etalage_magnifier div, .etalage_magnifier div img, .etalage_small_thumbs ul, ul .etalage_small_thumbs li, .etalage_zoom_area div, .etalage_zoom_img{ position:relative }
.etalage img, .etalage li{ -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -o-user-select:none; user-select:none; -webkit-user-drag:none; -moz-user-drag:none; user-drag:none }
.etalage, .etalage_small_thumbs li{ float:left }
.etalage_right{ float:right }
.etalage li{ position:absolute }
.etalage img{ vertical-align:middle; max-width:none }
.etalage_magnifier{ cursor:default }
.etalage_magnifier div, .etalage_small_thumbs{ overflow:hidden }
.etalage_magnifier div img{ display:none }
.etalage_icon, .etalage_hint{ cursor:default; width:0; height:0; overflow:hidden }
.etalage_small_thumbs li.vertical{ float:none }
.etalage_zoom_area div{ overflow:hidden; z-index:997 }
.etalage_zoom_preview{ position:absolute; z-index:998 }
.etalage_zoom_img, .etalage_hint{ z-index:999 }
.etalage{ direction:ltr }
div.etalage_description{ position:absolute; bottom:0; left:0; z-index:999; padding: 10px; color: #166192; }
div.etalage_description.rtl{ direction:rtl; text-align:right }

/*.etalage_thumb_active .zoomImage { line-height:290px} */
/*.ad-image-main { height:290px !important} */
.etalage_thumb_active .etalage_thumb_image { display:inline !important}
/*.Zoomer.etalage {border: 1px solid #9A9A9A; height:290px !important; width:245px !important} */
.zmBorder {border: 1px solid #9A9A9A; width:245px}
.cntrZoom { position:relative; display:none}
.cntrZoom div { left:249px;}