<?xml version="1.0"?>
<config>
    <modules>
        <Jewellery_Adminhtml>
            <version>0.0.1</version>
        </Jewellery_Adminhtml>
    </modules>

    <default>
    </default>

    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <customer_grid>Jewellery_Adminhtml_Block_Customer_Grid</customer_grid>
                    <sales_order_totals>Jewellery_Adminhtml_Block_Sales_Order_Totals</sales_order_totals>
                    <sales_order_view_info>Jewellery_Adminhtml_Block_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
         </blocks>
    </global>

</config>