<?xml version="1.0"?>
<config>
    <modules>
        <Magenmagic_Quickorder>
            <version>0.1.0</version>
        </Magenmagic_Quickorder>
    </modules>
    <frontend>
        <routers>
            <quickorder>
                <use>standard</use>
                <args>
                    <module>Magenmagic_Quickorder</module>
                    <frontName>quickorder</frontName>
                </args>
            </quickorder>
        </routers>
        <layout>
            <updates>
                <quickorder>
                    <file>quickorder.xml</file>
                </quickorder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<quickorder>
				<use>admin</use>
				<args>
					<module>Magenmagic_Quickorder</module>
					<frontName>quickorder</frontName>
				</args>
			</quickorder>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<quickorder module="quickorder">
				<title>Quickorder</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="quickorder">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>quickorder/adminhtml_quickorder</action>
					</items>
				</children>
			</quickorder>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magenmagic_Quickorder>
							<title>Quickorder Module</title>
							<sort_order>10</sort_order>
						</Magenmagic_Quickorder>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quickorder>
					<file>quickorder.xml</file>
				</quickorder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <quickorder>
                <class>Magenmagic_Quickorder_Model</class>
                <resourceModel>quickorder_mysql4</resourceModel>
            </quickorder>
            <quickorder_mysql4>
                <class>Magenmagic_Quickorder_Model_Mysql4</class>
                <entities>
                    <quickorder>
                        <table>quickorder</table>
                    </quickorder>
                </entities>
            </quickorder_mysql4>
        </models>
        <resources>
            <quickorder_setup>
                <setup>
                    <module>Magenmagic_Quickorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quickorder_setup>
            <quickorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quickorder_write>
            <quickorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quickorder_read>
        </resources>
        <blocks>
            <quickorder>
                <class>Magenmagic_Quickorder_Block</class>
            </quickorder>
        </blocks>
        <helpers>
            <quickorder>
                <class>Magenmagic_Quickorder_Helper</class>
            </quickorder>
        </helpers>
    </global>
</config>